<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nistic.boggle_this">
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Boggle"
            android:label="@string/title_boggle">
        </activity>
        <activity
            android:name=".Boggle5x5"
            android:label="@string/title_boggle5x5">
        </activity>
        <activity
            android:name=".Wordsearch"
            android:label="@string/title_wordsearch">
        </activity>
        <activity
            android:name=".OCR"
            android:label="@string/title_ocr">
        </activity>
        <activity
            android:name=".AboutApp"
            android:label="@string/title_aboutApp">
        </activity>
        <activity
            android:name=".DisplayResults"
            android:label="@string/title_displayResults">
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/title_helpScreen">
        </activity>
        <activity android:name=".OCRCam"
            android:label="@string/title_ocr">
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileproviderx"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
            <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="ocr"/>
        </provider>
    </application>
</manifest>